{% extends 'base.html' %}
<body>
{% block content %}



<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">About us</h1>
    <p class="fs-5 text-muted">The Coca-Cola Company ([ðə ˈkoukə ˈkoulə ˈkʌmpənɪ], рус. компания «Кока-кола») —
        американская пищевая компания, крупнейший мировой производитель и поставщик концентратов, сиропов и
        безалкогольных напитков. Наиболее известным продуктом компании является напиток Coca-Cola. Входит в список
        Fortune 500 по итогам 2020 года (88-е место)[3]. Штаб-квартира находится в столице штата Джорджия, Атланте.</p>
    <h1 class="display-4 fw-normal">История</h1>
    <p class="fs-5 text-muted">В 1886 году фармацевт Джон Пембертон придумал этот напиток, как лечение зависимости от
        морфия, представил крупной аптеке Кока Колу: состоящий из воды, сахара, кофеина, экстрактов листьев коки и ореха
        кола, там напиток продавали по 5 центов за стакан. В 1888 году Пембертон скончался в нищете, а права были
        выкуплены у его вдовы предпринимателем Эйзой Кэндлером за $2300, который в 1892 году зарегистрировал эту
        компанию под названием Coca-Cola Company и за десять лет вместе с 50 сотрудниками создал национальный бренд
        Coca-Cola. В 1899 году было основано первое предприятие по производству этого напитка на правах франчайзинга.
        Такая модель, при которой головная компания ограничивалась производством концентратов напитков и их маркетингом,
        а сторонние компании покупали эти концентраты, разводили их подслащённой газированной водой, бутилировали и
        продавали, сохранялась большую часть XX века[4].

        К 1905 году из состава Кока-Колы был исключён кокаин[5].

        В 1919 году Coca-Cola Company была продана группе инвесторов во главе с Эрнестом Вудраффом за $25 млн. Компания
        была перерегистрирована и стала публичной: было продано 500 000 акций по цене $40 за шт. Самое крупное в то
        время IPO в пищевой промышленности[5].

        В 1943 году в Европе и на севере Африки были основаны заводы по производству Кока-Колы для поднятия боевого духа
        воевавших там американских солдат, а также для распространения этого напитка по всему миру[5].

        В 1960 году была куплена The Minute Maid Corporation, а в следующем году был начат выпуск напитка Sprite[5].

        В 1980 году за $750 млн была куплена кинокомпания Columbia Pictures, однако уже через пять лет была продана
        другой кинокомпании, Tri-Star Pictures[5].

        В 1986 году The Coca-Cola Company непосредственно контролировала 11 % производства напитков под своими брендами
        и решила увеличить эту долю, купив несколько бутилирующих компаний, в частности JTL и Beatrice, но, из-за
        нехватки собственных средств, вынуждена была сформировать отдельную компанию, названную Coca-Cola Enterprises
        (англ.)русск., пустив 51 % её акций в свободное обращение[4].

        В 1990 году объём продаж впервые пересёк отметку в $10 млрд. В 1999 году The Coca-Cola Company приобрела права
        на реализацию продуктов под торговыми марками Schweppes, Canada Dry[en], Dr Pepper и Crush[en] в 157 странах,
        исключая США, Канаду и Мексику, а также часть Европы. В 2002 году на рынки был представлен напиток Vanilla
        Coke[5].

        В 2010 году Coca-Cola Enterprises перешла в полную собственность The Coca-Cola Company[6]. После завершения
        выкупа акций была основана новая компания Coca-Cola Enterprises, в которую были выделены подразделения старой в
        западной Европе. В ноябре 2015 года эта компания объединилась с Coca-Cola Iberian Partners SA и Coca-Cola
        Erfrischungsgetränke AG в компанию Coca-Cola European Partners (англ.)русск.[7].

        24 сентября 2018 года The Coca-Cola Company приобрела французский бренд освежающих напитков с фруктовым
        нектаром, родниковой воды и содовой Tropico[fr]. Данный шаг был обусловлен тем, что французский бренд
        демонстрировал устойчивый рост на рынке фруктовых напитков (рост на 4,9 % в период 2014—2017 год)[8].</p>
</div>

{% endblock %}
</body>
</html>